body {
    background-color: hsl(0, 0%, 8%);
    font-family: "Inter", serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

img {
    border-radius: 50%;
    margin-top: 40px;
    width: 80px;
    height: 80px;
}

.container {
    background-color: hsl(0, 0%, 12%);
    min-height: auto;
    width: 400px;
    text-align: center;
    border-radius: 12px;
    margin-top: 96px;
    margin-bottom: 96px;
}

h1, p {
    color: hsl(0, 0%, 100%);
}

h1 {
    font-size: 24px;
    font-weight: 700;
}

p {
    font-size: 14px;
    font-weight: 400;
}

h3 {
    color: hsl(75, 94%, 57%);
    font-size: 14px;
    font-weight: 600;
}
.button-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 auto;
    margin-top: 32px;
    margin-bottom: 32px;
    width: 80%;
}

button {
    background-color: hsl(0, 0%, 20%);
    font-size: 14px;
    font-weight: 600;
    display: block;
    border: none;
    padding: 15px;
    border-radius: 8px;
    color: hsl(0, 0%, 100%);
}

button:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 20%);
    transition: all 200ms ease-in-out;
    cursor: pointer;
}

.attribution {
    margin-top: 30px;
    text-align: center;
    color: hsl(0, 0%, 100%);
}

a {
    color: hsl(75, 94%, 57%);
}